/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
$theme-colors: (
  "primary": #6200ea,
  "success": #33691e,
  "danger": #f50057,
  "warning": #ffab00,
);
// Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";
body {
  padding-top: 5rem; // 5 rem  = 5*16
}